extends base.pug

block content
  div.ui.two.column.centered.grid
      div.column
        h1.ui.header Baron Samedi
        h4.ui.header Baron Samedi boilerpate for TypeScript
      div.four.column.centered.row
        div.column
          div.ui.card
            div.image
              img(src="/logo.jpg")
            div.content
              a.header(href="https://github.com/neuromantic-js/baron-samedi.git") Baron Samedi
              div.meta
                span.date 21.08.2017
              div.description Baron Samedi - it is boilerplate/framework based on Express/NodeJS, worked with MongoDB, PGSQL and cached in Redis.
            div.extra.content
              a(href="https://github.com/neuromantic-js/baron-samedi.git", target="blank") GitHub
