extends base.pug

block content
  div.ui.two.column.centered.grid
      div.column
        h1.ui.header Maman Brigitte.TS
        h4.ui.header Catalog of microservices. Based on BaronSaturday.TS
      div.four.column.centered.row
        div.column
          div.ui.card
            div.image
              img(src="/logo.jpg")
            div.content
              a.header Baron Saturday.TS
              div.meta
                span.date 21.08.2017
              div.description Boilerplate for Node.js projects with support TypeScript.
            div.extra.content
              a(href="https://github.com/neuromantic-js/baron-samedi.git", target="blank") GitHub
