extends base.pug

block content
  div.row
    div.col.s6.offset-s3
      div.row
        div.col.s12.m12.l12
          div.class.card
            div.card-image
              img(src="/logo.jpg")
              span(class="card-title") Baron Samedi
            div.card-content
              p Baron Samedi - it is boilerplate/framework based on Express/NodeJS, worked with MongoDB, PGSQL and cached in Redis.
            div.card-action
              a(href="https://github.com/neuromantic-js/baron-samedi.git") GitHub