extends base.pug

block content
  div.ui.two.column.centered.grid
    div.four.column.centered.row
      div.column
          div.ui.card
            div.image
              img(src="/maman_brigitte.jpg")
            div.content
              a.header Maman Brigitte
              div.meta
                span.date (каталог микросервисов комапании "Строительный Двор")
              div.description
                form.ui.form(method="post")
                  div.field
                    label Имя пользователя
                    input(name="username", placeholder="username",type="text")
                  div.field
                    label Пароль
                    input(name="password", placeholder="password", type="password")
                  button.ui.button(type="submit") Войти
            div.extra.content
              a(href="https://www.sdvor.com/auth/register/", target="blank") Регистрация
