extends base.pug

block content
    div.row
        div.col.s12.l12.m12
            table.striped
                thead
                    tr
                        th Наименование
                        th Владелец продукта
                        th Дата начала
                        th Дата окончания
                        th Статуc
                tbody
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                    tr
                        td Пример проекта
                        td Тестовый пользователь
                        td 10.01.2017
                        td 10.01.2017
                        td В работе
                tfoot
                    tr
                        th Наименование
                        th Владелец продукта
                        th Дата начала
                        th Дата окончания
                        th Статуc
    div.row
        div.col.s12.m12.l12
            center
                ul.pagination
                    li.disabled
                        a(href="#!")
                            i.material-icons chevron_left
                    li.active
                        a(href="#!") 1
                    li
                        a(href="#!") 2
                    li
                        a(href="#!") 3
                    li
                        a(href="#!") 4
                    li.waves-effect
                        a(href="#!")
                            i.material-icons chevron_right